
body {
  display: flex;
  flex-direction: column;
  background-color: #a1d3fb;
  justify-content: center;
}

#root{
  margin-top: 13%;
}

.quote-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 300px;
  background-color: #071322;
  border-radius: 8px;
  margin: auto;
  color: #ffffff;
  font-weight: bolder;
  font-size: large;
  padding: 40px 60px;
}

.quote-box-quote{
  text-align: center;
}

.button-box{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}